:root {
    /* --- Cores da Marca --- */
    --primary: #FF8C00;       
    --primary-dark: #000000;  
    --primary-light: #fff7e6; 
    
    --secondary: #003366;     
    --secondary-hover: #002244;
    
    /* --- Textos e Neutros --- */
    --text-main: #000000; 
    --text-muted: #4b5563;
    --text-light: #FFFFFF;
    
    /* --- Fundos --- */
    --bg-body: #f8f9fa;
    --bg-card: #FFFFFF;
    --border: #e5e7eb;
    --success: #10b981;
    --danger: #dc2626;
    --header-height: 84px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
}